# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment folders
env/
venv/
.venv/

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore secrets and env files
.env
